/*
body{
    background-color: #5e5e5e;
}
.navbar{
    background-color: #5e5e5e;
}
.thumals {
    height:100%;
    text-decoration: none;
}
.votingButton {
    padding-left:6px;
    cursor:pointer;
}
.votingWidget {
    height: 64px;
    width: 30px;
    padding: 3px;
}
.blue{
    color: blue;
}*/
